.video-container{
    width: 100%;
    height: 67vh !important;
    margin: 0px auto;
    position: relative;
    box-shadow: 1px 2px 8px 1px #9e9e9e;
    border: 5px solid #fff !important;
    border-radius: 26px !important;
    padding: 3px 5px 0px 5px;
}

.col-videos{
    background: #ffffff;
    width: 50%;
    margin: 0 auto;
    padding: 0 10px 30px 10px;
    border: 1px solid #32cdc4;
    border-radius: 19px;
}

.col-video-usuario{
    width: 10%;
}

.col-videos p{
    font-size: 30px;
    font-weight: 600;
}

.meu_video{
    width: 100%;
    /* position: absolute;
    left: 10px;
    bottom: 10px;
    border: 4px solid #32cdc4; 
    border-radius: 10px;
    z-index: 2; */
}

.video_usuario{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

