/*Padrão*/
/* .navbar{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    height: 75px;
} */

/*Alternativo*/
.navbar{ 
    width: 90%;
    position: fixed;
    bottom: 10px;
    left: 5%;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    height: 75px;
    background: #32cdc4;
    border-radius: 50px;
}

.divNavBottom{
    width: 15%;
}

.nav-menu-items{
    width: 100%;
    padding: 0px 0px 0px 0px;
    display: flex;
}

.nav-text a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    width: 95%;
    height: 100%;
    align-items: center;
    padding: 0 5px;
    border-radius: 4px;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    list-style: none;
    height: 60px;
}

.nav-text{
    text-align: center !important;
}

.nav-titulo{
    color: #fff;
}

.btnConsultar a{
    background-color: #fff;
    border: 2px solid var(--cor-primaria);
    color: #fff;
    border-radius: 90px;
    padding: 3px 16px;
    text-align: center;
    margin-top: -56px;
    font-size: 27px;
}

.btnConsultar .nav-titulo{
    font-size: 17px;
}

.btnConsultar svg{
    margin-left: -3px;
    font-size: 32px !important;
    fill: #32cdc4
}

.nav-text svg{
    font-size: 25px;
}

@media screen and (min-width: 768px){
    .navbar{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 5px 10px;
        justify-content: center;
        align-items: center;
        height: 75px;
    }
    .nav-menu-items{
        width: 100%;
        padding: 0px 0px 0px 522px
    }
}