@font-face {
    font-family: 'Bariol';
    font-weight: 400;
    src: local('Bariol'), url('./assets/fonts/bariol_regular.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    font-family: 'Bariol', serif;
    margin: 0;
    padding: 0;
}

.divLoadingSpinner{
    text-align: center;
    background-color: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

/* -------------------------------- Variaveis modo claro -------------------------------- */
:root{
    --cor-primaria: #32cdc4;
}
/* -------------------------------- Variaveis modo claro -------------------------------- */

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: var(--cor-primaria);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-primaria);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--cor-primaria);  /* creates padding around scroll thumb */
}
  